body {
    background-color: #f5f5f5;
    color: #111111;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/

header {
    background-color: #E31919;
    display: grid;
    grid-template-columns: 10% 20% auto;
    box-shadow: 6px 5px 6px -3px #00000081;
}

#logo {
    padding-top: 15px;
    width: 100%;
    padding-bottom: 17px;
    overflow: hidden;
}

h2 {
    color: #FFCF0F;
    padding-top: 8%;
}

/*body*/

h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.gap {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

/*search*/

.search {
    display: grid;
    grid-template-columns: 15% 50% auto 15%;
    padding-bottom: 2.5%;
}

#search_bar {
    grid-column: 2;
    padding: 1%;
    border-color: #E31919;
    border-style: solid;
    border-radius: 10px;
}

 #search_img {
    font-family: FontAwesome, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    grid-column: 3;
    border-style: none;
    cursor: pointer;
    font-size: 30px;
    color: #E31919;
    background-color: #f5f5f5;
}

#search_img:hover {color: #a51010;}

a #clear {
    cursor: pointer;
    margin-left: 15%;
    margin-bottom: 2.5%;
    padding: 0.5%;
    border-style: none;
    border-radius: 0%;
    background-color: #E31919;
    color: #ffac2f;
}

#clear:hover {background-color: #a51010;}

/*database box*/

#box {
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #fdc322;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 0 #00000081;
}

/*results*/

.results {
    display: grid;
    grid-template-columns: 5% 60% 5% 15% 15%;
    grid-template-rows: auto auto auto;
    background-color: #ffdf5d;
    padding: 1%;
    box-shadow: 6px 5px 6px -3px #00000081;
}

.s_item {
    font-weight: bold;
    grid-row: 1;
    grid-column: 1;
}

.s_type {
    font-weight: bold;
    grid-row: 1;
    grid-column: 3;
}

.h_results {
    font-weight: normal;
    grid-row: 1;
    grid-column: 2;
}

.h_type {
    font-weight: normal;
    grid-row: 1;
    grid-column: 4;
}

.btn {
    grid-row: 1;
    grid-column: 5;
    border-style: none;
    background-color: #ffac2f;
    cursor: pointer;
    padding: 8%;
}

.btn:hover {background-color: #da8d1a;}

/*content*/

#content {
    display: none;
    grid-column: 1 / 3;
}

.s_con {
    font-weight: bold;
}

/*footer*/

footer {
    background-color: #E31919;
    color: #FFCF0F;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}